<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
      $("#mytable").DataTable();
});
</script>


<div class="container">
         <h4>Contact us Management</h4>
		 <h6>Contact us List</h6>
		  <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>
        <div class="row justify-content-center mt-5">
            <div class="col">
                <% if(contactus.length>0) {%>
                    <!-- Table to list content items -->
                    <table class="table" id="mytable">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <% contactus.map((contactus,i)=>{%>
                                <tr>
                                    <th scope="row">
                                        <%= i+1%>
                                    </th>
                                    <td>
                                        <%= contactus.title%>
                                    </td>
                                    <td>
                                        <%- contactus.description.substring(0, 20)%>
                                            <% if(contactus.description.length>=20) {%>...<% } %>
                                    </td>
                                    <td>
									
									<a class="btn btn-success edit" style="background-color:green;" href="/contactus/update/<%=contactus._id%>">Edit</a> 
                                           <a class="btn btn-info view" href="/contactus/view/<%=contactus._id%>">Info</a>                       
                                            <a href="" onclick="if(confirm('Do you want to delete this record?')) event.preventDefault(); document.getElementById('delete-<%=contactus._id%>').submit();"  class="btn btn-danger">Delete</a>
                                            <form id="delete-<%=contactus._id%>" method="get" action="/contactus/remove/<%=contactus._id%>" style="display: none;">
                                                <input type="hidden" name="uid" value="<%=contactus._id%>"/>
                                            </form>  
                                    </td>
                                </tr>
                                <%}) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
        </div>
        <!-- redirect to add new content button -->
        <a href='/contactus/addcontactus' class="btn btn-info">Add Contact us</i></a>
        <!-- <button type="button" class="btn btn-info" onclick="window.location =`/contactus/`"> Add Contact us </button> -->
</div>