<% 
if(messages.userData) {
  newPassword = messages.userData[0].newPassword;
  confirmPassword = messages.userData[0].confirmPassword;
} else {
  newPassword = "";
  confirmPassword = "";
}
%> 

<h2>
    <%= module_title %>
</h2>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">
                    <%=title%>
                </h5>
                <p class="card-text">
                    <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%- messages.success %>
                        </div>
                        <% } %>
    
                            <% if (messages.error) { %>
                                <% if(Array.isArray(messages.error)) { messages.error.map((error,i)=>{%>
                                    <div class="alert alert-danger mt-3">
                                        <%= error%>
                                    </div>
                                    <% })} else{ %>
                                        <div class="alert alert-danger mt-3">
                                            <%= messages.error%>
                                        </div>
                                        <% } %>
                                            <% } %>
                    <!-- change password form start -->
                    <form name="changepwd" action="/user/changepwd/<%=userData %>" method="POST" onsubmit="return validateChangePassword()">
    
                        <div class="row">
    
                            <div class="col-12 form-group">
                                <label for="newPassword" class="col col-form-label">New Password</label>
                                <div class="col">
                                    <input type="password" class="form-control" id="newPassword" placeholder="new password"
                                        name="newPassword" value="<%=newPassword%>">
    
                                </div>
                            </div>
    
                            <div class="col-12 form-group">
                                <label for="confirmPassword" class="col col-form-label">Confirm Password</label>
                                <div class="col">
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Confirm Password" name="confirmPassword" value="<%=confirmPassword%>">
    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="" class="col col-form-label"></label>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
    
                            <div class="col form-group">
                                <label for="" class="col col-form-label"></label>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- change password form end -->
                </p>
                
            </div>
        </div>
    </div>
</div>


<script>
function validateChangePassword(){
let newPassword = document.forms["changepwd"]["newPassword"].value;
let confirmPassword = document.forms["changepwd"]["confirmPassword"].value;

if(newPassword == ""){
    alert("New Password must be filled out");
    return false;
}
if(confirmPassword == ""){
    alert("Confirm Password must be filled out");
    return false;
}
if(confirmPassword !== newPassword){
    alert("New Password and Confirm Password should be same");
    return false;
}
return true
}

</script>