<% 
if (messages.userData) {
  otp = messages.userData[0].otp;
  password = messages.userData[0].password;
} else {
  otp = "";
  password = "";
}

%> 


<h2>
    <%= module_title %>
</h2>
<div class="row justify-content-center">
    <div class="card col-5 ">
        <div class="card-body">
            <h5 class="card-title">
                <%=title%>
            </h5>

            <p class="card-text">
                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%- messages.success %>
                    </div>
                    <% } %>

                        <!-- error display -->
                        <% if (messages.error) { %>
                            <% if(Array.isArray(messages.error)) { messages.error.map((error,i)=>{%>
                                <div class="alert alert-danger mt-3">
                                    <%= error%>
                                </div>
                                <% })} else{ %>
                                    <div class="alert alert-danger mt-3">
                                        <%= messages.error%>
                                    </div>
                                    <% } %>
                                        <% } %>

                                            <!-- error display ended  -->

                                            <!-- OTP varificatiob and password reset form start -->
                                            <div class="row justify-content-center mt-5">
                                                <!-- Form to added new content -->
                                                <div class="col-12">
                                                    <form name="otpForm" action="/user/pwdreset/<%=data%>"
                                                        method="post"  onsubmit="return otpValidate()">
                                                        <div class="form-group">
                                                            <label for="otp"><b>OTP</b></label>
                                                            <input type="text" class="form-control" id="otp" name='otp' value="<%=otp%>">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="password"><b>New Password</b></label>
                                                            <input type="password" class="form-control" id="password"
                                                                name='password' value="<%=password%>">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </form>
                                                </div>
                                                <!-- form end -->
                                            </div>
            </p>
        </div>
    </div>


    <script>
        function otpValidate(){
        let password = document.forms["otpForm"]["password"].value;
        let otp = document.forms["otpForm"]["otp"].value;
        
        if(password == ""){
            alert("Password must be filled out");
            return false;
        }
        if(otp == ""){
            alert("OTP must be filled out");
            return false;
        }
        return true
        }
        
        </script>



