
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
      $("#mytable").DataTable();
});
</script>


<h2><%= module_title %></h2>
<div class="container">
    <h5 class="card-title">
        <%=title%>
    </h5>
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>

        <div class="row justify-content-center mt-5">
            <div class="col">
                <% if(contents.length>0) {%>
                    <!-- Table to list content items -->
                    <table class="table" id="mytable">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <% contents.map((content,i)=>{%>
                                <tr>
                                    <th scope="row">
                                        <%= i+1%>
                                    </th>
                                    <td>
                                        <%= content.title%>
                                    </td>
                                    <td>
                                        <%- content.description.substring(0, 20)%>
                                            <% if(content.description.length>=20) {%>...<% } %>
                                    </td>
                                    <td>
                                      
                                       
                                                <!-- edit button -->
                                        <a href='/content/update/<%=content._id%>' class="btn btn-success edit" style="background-color:green;">Edit</a>

                                          <!-- view button -->
                                          <a href='/content/<%=content._id%>' class="btn btn-info view">Info</a>
                                   
                                                <!-- delete button -->
                                        <a href="" onclick="if(confirm('Do you want to delete this record?')) event.preventDefault(); document.getElementById('delete-<%=content._id%>').submit();"  class="btn btn-danger"> Delete</a>
                                            <form id="delete-<%=content._id%>" method="get" action="/content/remove/<%=content._id%>" style="display: none;">
                                                <input type="hidden" name="uid" value="<%=content._id%>"/>
                                            </form>    
                    <!-- form end here-->
                                    </td>
                                </tr>
                                <%}) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
        </div>
        <!-- redirect to add new content button -->
        <a href='/content/' class="btn btn-info">Add Content</i></a>
</div>