<div class="container">
    <% if (messages.error) { console.log(messages.error)%>

        <div class="alert alert-danger" role="alert">

            <% Object.keys(messages).forEach(function (type) { if(type=="error" || type=="success" ){ %>

                <ul class="<%= type %>">
                    <% messages[type].forEach(function (message) { %>
                        <li>
                            <%= message %>
                        </li>
                        <% }) %>
                </ul>

                <% }}) %>
        </div>
        <% } %>
            <% if(messages.contentData){ title=messages.contentData[0].title;
                description=messages.contentData[0].description; }else{ title=oldCont.title ;
                description=oldCont.description ; ;} %>
                <div class="row justify-content-center mt-3">
                    <div class="col-6 jumbotron">
                        <form name="myForm" action="/content/updateContent/<%=oldCont._id%>" method="post" onsubmit="return validateForm()">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name='title' value="<%= title%>">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3"
                                    name="description"><%= description%></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary">Update</button>
                        </form>
                    </div>
                </div>
</div>

<script>
    // add ckeditor to text area field
    // set Global variable to access later for validation
    let theEditor
    ClassicEditor
        .create(document.querySelector('#description'))
        .then(editor => {
            theEditor = editor;
            // editor is a model and getData fn use to reterive latest value
        })
        .catch(error => {
            console.error(error);
        });

    // javascript function to validate form data
    function validateForm() {

        let titlePattern = /^[ A-Za-z0-9_.\/,]*$/
        let descriptionPattern = /^[ A-Za-z0-9_.\/,<>]*$/
        let title = document.forms["myForm"]["title"].value;
        // getData returns latest value of textarea 
        let description = theEditor.getData()

        if (title == "") {
            alert("Title must be filled out");
            return false;
        }
        if (title.match(titlePattern) == null) {
            alert("Please enter alphanumeric title only");
            return false;
        }
        if (description == "") {
            alert("Description must be filled out");
            return false;
        }
        if (description.match(descriptionPattern) == null) {
            alert("Please enter alphanumeric description only");
            return false;
        }
        return true
    }
</script>