<h2></h2>
<%= module_title %>
    </h2>
    <% let i=0; %>
        <div class="card">
            <div class="card-header">
                <strong class="mr-auto text-primary">
                    <%=title%>
                </strong>
            </div>
            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">

                    <% Object.keys(messages).forEach(function (type) { %>
                        <ul class="<%= type %>">
                            <% messages[type].forEach(function (message) { %>
                                <li>
                                    <%= message %>
                                </li>
                                <% }) %>
                        </ul>
                        <% }) %>
                </div>
                <% } %>


                    <div class="card-body">

                        <form name="addResorces" action="/acl/edit/<%= results._id %>" method="POST">

                            <div class="row">
                                <div class="col form-group">
                                    <label for="role" class="col col-form-label">Role Name</label>
                                    <div class="col">
                                        <select class="form-control" id="role" name="role" disabled>
                                            <option value="">--Select--</option>
                                            <option value="admin" <% if(results.role=="admin" ){ %> selected <% } %>
                                                    >Admin
                                            </option>
                                            <option value="member" <% if(results.role=="member" ){ %> selected <% } %>
                                                    >Member
                                            </option>
                                            <option value="guest" <% if(results.role=="guest" ){ %> selected <% } %>
                                                    >Guest
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <% if(results.allowedResources.length>0){ %>
                                <h3>Allowed Resources</h3>
                                <% results.allowedResources.map((resource,i)=>{ i=i; %>

                                    <div class=" row">

                                        <div class="col form-group">
                                            <label for="resource_path" class="col col-form-label">Resource</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="resource_path"
                                                    placeholder="Enter resource_path" name="resource<%=i+1%>"
                                                value="<%=resource.path%>">

                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <label for="resource_path" class="col col-form-label">Methods</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="GET"
                                                    name="methods<%=i+1%>" id="getCheck" <%if(resource.methods.includes("GET")){%>checked<%} %> >
                                                    <label class="form-check-label" for="getCheck">
                                                        GET
                                                    </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="POST"
                                                    name="methods<%=i+1%>" id="postCheck" <%
                                                    if(resource.methods.includes("POST")){%>checked<%} %>>
                                                    <label class="form-check-label" for="postCheck">
                                                        POST
                                                    </label>
                                            </div>
                                        </div>
                                    </div>
                                    <% })} %>
                                        <% if(results.denyResources.length>0){ %>


                                            <h3>Denied Resources</h3>
                                            <% results.denyResources.map((resource,i)=>{%>

                                                <div class=" row">

                                                    <div class="col form-group">
                                                        <label for="resource_path"
                                                            class="col col-form-label">Resource</label>
                                                        <div class="col">
                                                            <input type="text" class="form-control" id="resource_path"
                                                                placeholder="Enter resource_path" name='dresource<%=i+1%>'
                                                            value="<%=resource.path%>" >

                                                        </div>
                                                    </div>
                                                    <div class="col form-group">
                                                        <label for="resource_path"
                                                            class="col col-form-label">Methods</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="GET"
                                                                name="methods<%=i+1%>" id="getCheck" <%
                                                                if(resource.methods.includes("GET")){%>checked<%} %> >
                                                                <label class="form-check-label" for="getCheck">
                                                                    GET
                                                                </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="POST"
                                                                name="methods<%=i+1%>" id="postCheck" <%
                                                                if(resource.methods.includes("POST")){%>checked<%} %>>
                                                                <label class="form-check-label" for="postCheck">
                                                                    POST
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) }%>
                                                    <div id="newRow"></div>
                                                <div class="row">
                                                    <div class="col form-group">
                                                        <div class="col">
                                                            <button type="submit"
                                                                class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>
                                                    <div class="col form-group">
                                                        <div class="col">
                                                           
                                                        </div>
                                                    </div>
                                                </div> 
                        </form>
                    </div>
        </div>