<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>



<h2>
    <%= module_title %>
</h2>

<div class="card">
    <div class="card-header">
        <strong class="mr-auto text-primary">
            <%=title%>
        </strong>
    </div>

    <div class="card-body">

        <% if (messages.success) { %>
            <div class="alert alert-success" role="alert">
                <%- messages.success %>
            </div>
            <% } %>

                <p class="card-text">

                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">

                            <% Object.keys(messages).forEach(function (type) { %>
                                <ul class="<%= type %>">
                                    <% messages[type].forEach(function (message) { %>
                                        <li>
                                            <%= message %>
                                        </li>
                                        <% }) %>
                                </ul>
                                <% }) %>
                        </div>
                        <% } %>
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-secondary" role="alert">
                                        <ul>
                                            <li>Enter relative path only. <b>Such as</b> user/auth/ or content/</li>
                                            <li>Use *(astrick) after path if you want to allow all subresources of that
                                                path.</li>
                                            <li>Atleast a method must be selected. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <form name="addResorces" action="/acl/add" method="POST">

                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="role" class="col col-form-label">Role Name</label>
                                            <div class="col">
                                                <select class="form-control" id="role" name="role">
                                                    <option value="">--Select--</option>
                                                    <% if(results){results.map(role=>{%>
                                                        <option value="<%=role.title%>">
                                                            <%=role.title.replace( /^./, str=> str.toUpperCase())%>
                                                        </option>
                                                        <% }) }%>
                                                            <option value="anonymous">Anonymous</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col form-group">
                                            <label for="status" class="col col-form-label">Permission</label>
                                            <div class="col">
                                                <select class="form-control" id="status" name="status">
                                                    <option value="">--Select--</option>
                                                    <option value="allowedResources">Allowed</option>
                                                    <option value="denyResources">Deny</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" row" id="inputFormRow">
                                        <div class="col form-group">
                                            <label for="resource_path" class="col col-form-label "
                                                id='rtt'>Module</label>
                                            <div class="col">
                                                <select class="form-control" id="module1" name="module1">
                                                    <option value="">--Select--</option>
                                                    <% resources.map(resource=>{%>
                                                        <option value="<%= resource.module_name %>">
                                                            <%= resource.module_name %>
                                                        </option>
                                                        <%}) %>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="row">
                                                <div class="col form-group">
                                                    <label for="resource_path" class="col col-form-label "
                                                        id='rtt'>Resource</label>
                                                    <div class="col">
                                                        <select class="form-control" id="resources1" name="resources1">
                                                            <option value="">--Select--</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="col form-group">
                                                    <label for="resource_path" class="col col-form-label"
                                                        id='mtt'>Methods</label>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" value="GET"
                                                            name="methods1" id="GETcheck1">
                                                        <label class="form-check-label" for="GETcheck1">
                                                            GET
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" value="POST"
                                                            name="methods1" id="POSTcheck1">
                                                        <label class="form-check-label" for="POSTcheck1">
                                                            POST
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button type="button" class="btn btn-danger mt-5" id="removeRow" disabled>Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="newRow"></div>

                                    <div class="row">
                                        <div class="col form-group">
                                            <div class="col">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <div class="col">
                                                <button id="addRow" type="button" class="btn btn-info">Add Row</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                </p>
    </div>
</div>







<script type="text/javascript">




    let data = '<%-JSON.stringify(resources)%>'
    let resourecesData = JSON.parse(data)
    var resForSlctModule = []
    let moduleList = resourecesData.map(item => item.module_name)
    //select change detection

    $(document).on('change', 'select', function () {
        let selectedModule = $(this).find("option:selected").attr('value')
        let i = $(this).attr('id').slice(-1);
        resourecesData.map(resource => {
            if (resource.module_name == selectedModule) {
                $(`#resources${i}`).children('option:not(:first)').remove();
                $(`#GETcheck${i}`).prop("checked", false) // Unchecks it
                $(`#POSTcheck${i}`).prop("checked", false) // Unchecks it
                $.each(resource.resources, function (index, item) {
                    $(`#resources${i}`).append($('<option>', {
                        value: item.resource_path,
                        text: item.resource_name
                    }));
                });
            }
        })
    });

    // add row
    let i = 1;
    $("#addRow").click(function () {

        i++;
        if (i >= 5) {
            $("#addRow").prop('disabled', true)
        }
        // Parent row---------------------------------
        var row = document.createElement('div')
        row.className = "row"
        row.id = "inputFormRow"



//1st column*******************************************************
        // Module select-------------------------------

        // form group div-----------------------------
        var mformgrpDiv = document.createElement('div')
        mformgrpDiv.className = "col form-group"
        // column ------------------------------------
        var mcolDiv = document.createElement('div')
        mcolDiv.className = "col"
        //select-----------------------
        var moduleValues = ["", ...moduleList];
        var moduleSelect = document.createElement("select");
        moduleSelect.name = "module" + i;
        moduleSelect.id = "module" + i
        moduleSelect.className = "form-control"
        // option for select-------------------------
        for (const val of moduleValues) {
            var option = document.createElement("option");
            option.value = val;
            option.text = val == "" ? "--Select--" : val;
            moduleSelect.appendChild(option);
        }
        // main label for module select------------------------------
        var modulelabel = document.createElement("label");
        modulelabel.className = "col col-form-label"
        modulelabel.innerHTML = "Module"
        modulelabel.htmlFor = "module" + i;
        // appended select to column----------
        mcolDiv.appendChild(moduleSelect)
        // appended label to form group----------
        mformgrpDiv.appendChild(modulelabel)
        // added column to form group -------------
        mformgrpDiv.appendChild(mcolDiv)



//2nd column*********************************************************
        // Resources select
        var rParentCol = document.createElement('div')
        rParentCol.className = "col"
        var rParentRow = document.createElement('div')
        rParentRow.className = "row"

        var rformgrpDiv = document.createElement('div')
        rformgrpDiv.className = "col form-group"
        var rcolDiv = document.createElement('div')
        rcolDiv.className = "col"
        var resourcesValues = [""];

        var resSelect = document.createElement("select");
        resSelect.name = "resources" + i;
        resSelect.id = "resources" + i
        resSelect.className = "form-control"
        //option for resource
        for (const val of resourcesValues) {
            var option = document.createElement("option");
            option.value = val;
            option.text = '--Select--';
            resSelect.appendChild(option);
        }

        var reslabel = document.createElement("label");
        reslabel.className = "col col-form-label"
        reslabel.innerHTML = "Resources"
        reslabel.htmlFor = "resources" + i;
// methods 


// Label
        var methodsformgrpDiv = document.createElement('div')
        methodsformgrpDiv.className = "col form-group"
        var mathodLable = document.createElement('label')
        mathodLable.className = "col col-form-label"
        mathodLable.innerHTML = "Methods"
        mathodLable.htmlFor = "methods" + i;
        methodsformgrpDiv.appendChild(mathodLable)
// check box
        var checkboxs = ["GET","POST"]
        // added checkbox in methods
       for (const checkbox of checkboxs){
        var MethodDiv = document.createElement('div')
        MethodDiv.className = "form-check form-check-inline"
        var MethodInput = document.createElement('input')
        MethodInput.className = "form-check-input"
        MethodInput.type ="checkbox"
        MethodInput.value = checkbox
        MethodInput.name = "methods"+i
        MethodInput.id = checkbox+"check"+i
        var MethodLabel =document.createElement('label')
        MethodLabel.className = "form-check-label"
        MethodLabel.for = checkbox+"check"+i
        MethodLabel.innerHTML = checkbox
        MethodDiv.appendChild(MethodInput)
        MethodDiv.appendChild(MethodLabel)
        methodsformgrpDiv.appendChild(MethodDiv)
       }

//remove button

        var removeBtnDiv = document.createElement('div')
        removeBtnDiv.className = "col"
        var removeBtn = document.createElement('div')
        removeBtn.className = "btn btn-danger mt-5"
        removeBtn.type = "button"
        removeBtn.id = "removeRow"
        removeBtn.innerHTML = "Remove"
        removeBtnDiv.appendChild(removeBtn)



        rcolDiv.appendChild(resSelect)
        rformgrpDiv.appendChild(reslabel)
        rformgrpDiv.appendChild(rcolDiv)


        rParentRow.appendChild(rformgrpDiv)
        rParentRow.appendChild(methodsformgrpDiv)
        rParentRow.appendChild(removeBtnDiv)
        rParentCol.appendChild(rParentRow)








        // appended form group dev of module and resources to column
        row.appendChild(mformgrpDiv)
        row.appendChild(rParentCol)
        // appended final row to newRow div in body 
        document.getElementById("newRow").appendChild(row)


    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
        i--;
        if (i < 5) {
            $("#addRow").prop('disabled', false)
        }
    });


    // //tooltip
    // $('#rtt').tooltip({
    //     html: true,
    //     position: { my: "left+15 center", at: "right center" },
    //     title: "user/auth/ or content/*"
    // })
</script>