
<div class="container">
    <%- include('partials/NavBar.ejs') %>


        <div class="row justify-content-center mt-5">
            <div class="col">
                <% if(contents.length>0) {%>
                    <table class="table">
                        <!-- Table header -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <!-- Table body -->
                        <tbody>
                            <% contents.map((content,i)=>{%>
                                <tr>
                                    <th scope="row">
                                        <%= i+1%>
                                    </th>
                                    <td>
                                        <%= content.title%>
                                    </td>
                                    <td>
                                        <%- content.description.substring(0, 20)%>
                                            <% if(content.description.length>=20) {%>...<% } %>
                                    </td>
                                    <td>
                                        <a href='/content/<%=content._id%>' class="btn"><i
                                                class="fa fa-location-arrow"></i></a>
                                        <!-- <button class="btn" onclick="viewContent('<%= content._id%>')">
                                            <i class="fa fa-location-arrow"></i>
                                        </button> -->
                                        <a href='/content/update/<%=content._id%>' class="btn"><i
                                                class="fa fa-edit"></i></a>
                                        <!-- <button class="btn" onclick="editContent('<%= content._id%>')">
                                            <i class="fa fa-edit"></i>
                                        </button> -->
                                        <button class="btn" type="button" data-toggle="modal" data-target='#<%=i %>'>
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <!-- Modal start-->
                                        <div class="modal fade" id='<%=i%>' tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Warning
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Do you want to delete <b>
                                                            <%= content.title %>
                                                        </b>?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <a href='/content/remove/<%=content._id%>'
                                                            class="btn btn-danger">Delete</a>
                                                        <!-- <button type="button" class="btn btn-danger"
                                                                            onclick="deleteContent('<%= content._id%>','<%= i%>')">
                                                                            Delete
                                                                        </button> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal end-->
                                    </td>
                                </tr>
                                <%}) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
        </div>
        <a href='/content/' class="btn btn-info">Add Content</i></a>
        <!-- <button type="button" class="btn btn-info" onclick="window.location =`/content/`"> Add Content </button> -->
</div>