<h2></h2>
<%= module_title %>
    </h2>
    <% if(messages.userData){ email=messages.userData[0].email; user_role=messages.userData[0].role_id;
        userStatus=messages.userData[0].user_status }else{email=results.email ;
        user_role=results.role_id ; userStatus=results.user_status ; }%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%=title%>
                </h5>  <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%- messages.success %>
                    </div>
                    <% } %>
        
                        <p class="card-text">
                            <% if (messages.error) {%>
                                <div class="alert alert-danger" role="alert">
        
                                    <% Object.keys(messages).forEach(function (type) { if(type=="error" || type=="success" ){ %>
        
                                        <ul class="<%= type %>">
                                            <% messages[type].forEach(function (message) { %>
                                                <li>
                                                    <%= message %>
                                                </li>
                                                <% }) %>
                                        </ul>
        
                                        <% }}) %>
                                </div>
                                <% } %>
                <form name="addUserFrm" action="/user/update/<%=results._id%>" method="POST">

                    <div class="row">
                        <div class="col form-group">
                            <label for="role" class="col col-form-label">Role Name</label>
                            <div class="col">
                                <select class="form-control" id="role_id" name="role_id">
                                    <option value='' <% if(user_role=='' ){ %> selected <% } %> >--Select--</option>
                                    <option value="1" <% if(user_role==1 ){ %> selected <% } %> >Admin</option>
                                    <option value="2" <% if(user_role==2 ){ %> selected <% } %> >Members</option>
                                </select>
                            </div>
                        </div>

                        <div class="col form-group">
                            <label for="email" class="col col-form-label">Email</label>
                            <div class="col">
                                <input type="text" class="form-control" id="email" placeholder="Email ID" name="email"
                                    value="<%= email%>">

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col form-group">
                            <label for="user_status" class="col col-form-label">Status</label>
                            <div class="col">
                                <select class="form-control" id="user_status" name="user_status">
                                    <option value="" <% if(userStatus=='' ){ %> selected <% } %> >--Select--</option>
                                    <option value="1" <% if(userStatus==1 ){ %> selected <% } %> >Publish</option>
                                    <option value="2" <% if(userStatus==2 ){ %> selected <% } %> >Unpublish</option>

                                </select>
                            </div>
                        </div>

                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                        <div class="col form-group">
                            <label for="" class="col col-form-label"></label>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>