
<h2><%= module_title %></h2>

<div class="card">




    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%- messages.success %>
        </div>
        <% } %>
    <a href="/user/upload/profile/<%=results._id%> ">
        <img class="ml-3 mt-3 rounded-circle" style="width:60px;" src="/user/profile/<%=results._id%> " alt="Profile picture"></a>






    <div class="card-body">
        <h5 class="card-title">
            <b> Username: </b>
            <%=results.username%>
        </h5>
        <p class="card-text">
            <b>Email:</b>
            <%=results.email%>
        </p>
        <p class="card-text">
            <b>Full Name:</b>
            <%=results.name.first_name%> <%=results.name.last_name%>
        </p>

        <a href="/user/update/<%=results._id%>" class="btn btn-primary ">Edit</a>
            <a href="/user/changepwd/<%=results._id%>" class="btn btn-primary float-right">Change Password</a>


    </div>
</div>
    




