<div class="container">
    <% if (messages.success) { %>
        <div class="alert alert-success" role="alert">
            <%- messages.success %>
        </div>
        <% } %>
            <% if (messages.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%- messages.error %>
                </div>
                <% } %>
                    <% if(Feedback){ %>
					<h2 class="text-center mt-3">Feedback Management</h2>
                        <div class="card bg-light text-dark mt-3">
						<h6>Feedback</h6>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b> Title: </b>
                                    <%=Feedback.title%>
                                </h5>
								<h5 class="card-title">
                                    <b> Email: </b>
                                    <%=Feedback.email%>
                                </h5>
                                <p class="card-text">
                                    <b>Description:</b>
                                    <%-Feedback.description%>
                                </p>
                            </div>
                        </div>
                        <% } %>
</div>