<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSRF Token -->
        <meta name="csrf-token" content="">
        
        <meta name="api-token" content="">
  
        <title><%= process.env.APP_NAME%></title>
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.css" rel="stylesheet">
        <script src="/js/jquery-3.5.1.min.js"></script>
        <script src="/js/bootstrap.min.js" ></script>
        <script src="/js/ckeditor.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery-3.2.1.slim.min.js"></script>
        
    </head>
    <body>
        <div class="container-fluid">
		
			<!--<%- include('top_header.ejs') %>
			<%- include('header.ejs') %> -->
			
			<%- include('main_menu.ejs') %>
			<div class="col-12">
                <main><%- body %></main>
            </div>
			<%- include('footer.ejs') %>
		</div>
		
            
    </body>
</html>
